@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
 :root {
	 --background: rgba(0, 214, 170, .85);
}
 * {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
	 font-family: "Rubik", sans-serif;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	
	
}
.burger{
	display: none;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
	
}
.nav-links li{
	list-style: none;
	
}




.nav-links a{
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.t1{
	color: white;
}
.t2{
	color: var(--background);
}
  
  nav a:hover {
	color: #000;
  }



@media screen and (max-width:768px){

	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: var(--background);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	
	.burger{
		display: block;
		margin-left: auto;
	}
}
.nav-active{
 transform: translateX(0%);



}
 header {
	 background: var(--background);
	 text-align: center;
	 position: fixed;
	 z-index: 999;
	 width: 100%;
}

 .container-navbar {
	 display: flex;
	 justify-content: space-around;
	 align-items: center;
	 min-height: 8vh;
	 width: 100%;
	 height: 35px;
}
section{
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
 .about-container  {
	 padding: 2px;
	 display: grid;
	 place-items: center;
	 box-sizing: border-box;
	 background-size: 100%;
	 border-radius: 10px;
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px;
	 background-color: white;
	 height: 600px;
	 width: 800px;
	 position: relative;
	
	 

}
.about-container p{
	font-size: 20px;
	text-align: left;

	

}
.banner-section{
	padding-top: 8vh;
}
.banner {
	width: 100%;
	background-image: url("https://res.cloudinary.com/dt691hhsa/image/upload/v1596628696/Banner_nvzgs2.jpg");
	height: 405px;
	background-position: center;
	
}
.banner .t1{
	font-size: 80px;

	position: relative;
	z-index: 3;
	top: 50%;
	left: 4%;
}
.banner h1{
  
	animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 2s; /* don't forget to set a duration! */
}
.banner .t2{
	font-size: 80px;
	position: relative;
	z-index: 3;
	top: 50%;
	left: 6%;
}
body {
	margin: 0;
	background: #222;
	

}
.container-home{
display:flex;
flex-direction:row;
}
.container-home div{
	padding-left: 50px;
}

 .skills-container {
	 width: 500px;
	 margin: 50px auto 0;
	 padding: 20px;
}
 .skills-container li {
	 position: relative;
	 list-style: none;
	 margin: 50px 0;
	 font-weight: 500;
	 color: white;
	 text-transform: uppercase;
}
 .skills-container li:before {
	 content: "";
	 position: absolute;
	 top: calc(100% + 10px);
	 left: 0;
	 widows: 100%;
	 height: 15px;
	 background-color: rgba(54, 126, 223, 0.5);
	 border-radius: 1000px;
}
 .skills-container  li::after {
	 content: "";
	 position: absolute;
	 top: calc(100% + 10px);
	 left: 0;
	 width: 0;
	 height: 15px;
	 background-color: rgba(54, 126, 223, 1);
	 border-radius: 1000px;
	 animation-duration: 0.7s;
	 animation-timing-function: ease;
	 animation-fill-mode: forwards;
}
.skills-container li.html:after {
	 animation-name: html;
}
 @keyframes html {
	 to {
		 width: 90%;
	}
}
 .skills-container li.css:after {
	 animation-name: css;
}
 @keyframes css {
	 to {
		 width: 80%;
	}
}
 .skills-container li.js:after {
	 animation-name: js;
}
 @keyframes js {
	 to {
		 width: 75%;
	}
}
 .skills-container li.ng:after { 
	 animation-name: ng;
}
 @keyframes ng {
	 to {
		 width: 60%;
	}
}
.container {
	top: 40%;
	display: grid;
	grid-row-gap: 32px;
	position: absolute;
	grid-column-gap: 88px;
	grid-template-columns: repeat(2, 1fr);
}

.about-container {
	width: 60%;
	height: auto;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 64px 64px 50px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 48px;
}

.about-container h1 {
		font-size: 30px;
		font-weight: 500;
		line-height: 40px;
		margin-bottom: 12px;
}
	.about-container p {
		margin-top: 16px;
		line-height: 28px;
		margin-bottom: 26px;
	}

	.social-icons div {
		text-align:center;
		display: inline-block;
		position:absolute;
		top:50%;
		left:50%;
		-ms-transform:translate(-50%,-50%);
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
	  }
	  
	  /* Icons */
	  
	  .social-icons a {
		color:var(--background);
		background: white;
		border-radius:4px;
		text-align:center;
		text-decoration:none;
		font-family:fontawesome;
		position: relative;
		display: inline-block;
		width:40px;
		height:28px;
		padding-top:8px;
		margin:0 2px;
		-o-transition:all .5s;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
		 -webkit-font-smoothing: antialiased;
	  }
	  
	  .social-icons a:hover {
		background:var(--background);
	  }
	  
	  /* pop-up text */
	  
	  .social-icons a span {
		color:#666;
		position:absolute;
		font-family:sans-serif;
		bottom:0;
		left:-25px;
		right:-25px;
		padding:5px 7px;
		z-index:-1;
		font-size:14px;
		border-radius:2px;
		background:#fff;
		visibility:hidden;
		opacity:0;
		-o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		-webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		-moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  }
	  
	
	  /* font awesome icons */
	  
	  .social-icons a:nth-of-type(1):before {
	  content:'\f09a';
	  }
	  .social-icons a:nth-of-type(2):before {
	  content:'\f09b';
	  }
	  .social-icons a:nth-of-type(3):before {
	  content:'\f0e1';
	  }
	 
 